
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin:0;
 
    padding:0;
}


.navbar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width:100%;
    top: 0;
    cursor: pointer;



}
.nav-list {
width: 50%;
/* background-color: yellow; */
display: flex;
align-items: center;

}
.nav-list li{
list-style: none;
padding:12px;
}
.nav-list li a{
    text-decoration: none;
    color:whitesmoke;
    font-weight: 500;
}
.nav-list li a:hover{
    text-decoration: none;
    color:gray;
}
.right-nav{
    width: 50%;
    /* background-color: black; */
    text-align: right;
    padding:0 23px;

}
.logo{
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
     padding-bottom: 5px; 
    padding-top: 5px;
}
.logo img{
    width:70%;
    border:solid white;
    border-radius: 100px;
    
}

.search{
    padding:5px;
    font-size: 15px;
    border:2px solid gray;
    border-radius: 20px;

}

.background{

    background:rgba(0,0,0,0.7) url(https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-blend-mode: darken;
}


.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color:beige;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width:70%;
    margin: auto;

    height:80%;
}
.firsthalf{
width:100%;
display: flex;
flex-direction: column;
padding-right: 320px;
padding-top: 10%;
justify-content: center;
}

.sechalf{

width:40%;
}

.firstSection{
height: 100vh;
}
.sechalf img{
    width:90%;
    padding:4px 0;
    border:3px ;
    border-radius: 100px;
    display: block;
    margin: auto;


}

.textbig{
    width:100%;
    font-size: 38px;
    flex-wrap:nowrap;
}


.textsmall{
    font-size: 15px;
    /* padding-top: 2px; */
}

.btn1 , .btn2 , .btnsm{

    padding: 8px 20px;
    margin:10px 5px;
    border:2px solid whitesmoke;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    /* background-color: black; */
    color:whitesmoke;
    background: none;
}
.btnsm{
    padding:5px 10px;
    margin: 5px 5px;
    vertical-align: middle;


}
.secright{

    height:500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 65%;
    margin: auto;
    
}

.ptag{
    padding: 0 65px;
    max-height:200px;
}
.secleft{

    height:500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    max-width: 65%;
    margin: auto;
    
}
.main{
    justify-content: center;
    text-align: center;
}
p{
    font-family: 'Ubuntu', sans-serif;
}